Connected Services/LightHouse/CERE_PriorityErpInterface2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cp2soappsv02.cerespower.com/sfol/UdiScripts/Custom/WebService/CERE_PriorityErpInterface.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Lighthouse.Udi.Scripting" />
  <xs:element name="PutInventoryPack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Lighthouse.Udi.Scripting" minOccurs="0" name="sfolRequestDocument" nillable="true" type="q1:SfolRequestDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutInventoryPackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Lighthouse.Udi.Scripting" minOccurs="0" name="PutInventoryPackResult" nillable="true" type="q2:SfolWcfReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutWorksOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Lighthouse.Udi.Scripting" minOccurs="0" name="sfolRequestDocument" nillable="true" type="q3:SfolRequestDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutWorksOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Lighthouse.Udi.Scripting" minOccurs="0" name="PutWorksOrderResult" nillable="true" type="q4:SfolWcfReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutboundTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutboundTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Lighthouse.Udi.Scripting" minOccurs="0" name="GetOutboundTransactionsResult" nillable="true" type="q5:SfolWcfReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutOutboundTransactionUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Lighthouse.Udi.Scripting" minOccurs="0" name="sfolRequestDocument" nillable="true" type="q6:SfolRequestDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutOutboundTransactionUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>