Connected Services/LightHouse/CERE_PriorityErpInterface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lighthouse.Udi.Scripting" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lighthouse.Udi.Scripting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SfolRequestDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutboundTransactionsUpdate" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="XmlDocument" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SfolRequestDocument" nillable="true" type="tns:SfolRequestDocument" />
  <xs:complexType name="SfolWcfReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutboundTransactions" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ProcessingSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SfolWcfReturn" nillable="true" type="tns:SfolWcfReturn" />
</xs:schema>